Source: ros-jazzy-eventdispatch-ros2
Section: misc
Priority: optional
Maintainer: Charlie Yan <cyanatg@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-python, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-eventdispatch-python, ros-jazzy-eventdispatch-ros2-interfaces, ros-jazzy-rclcpp, ros-jazzy-rclpy, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-eventdispatch-ros2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-rclcpp, ros-jazzy-rclpy, ros-jazzy-ros-workspace
Description: ROS2 wrapper for python-eventdispatch
